<!DOCTYPE html>
{%load static%}
<html lang="fr">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Connexion et inscription </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/bootstrap.css"  %}'>
    <link rel='stylesheet' type='text/css' media='screen' href='{% static "css/all.min.css"  %}'>
   
</head>
<body class="bg-light">
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4 bg-white m-auto rounded-top">
            <h2 class="text-center"> Connexion</h2>
            <p class="text-center text-muted lead"> Se connecter à  Sweet-Market-Center </p>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input type="text" name="email" class="form-control" placeholder="Adresse e-mail">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                    {% if erreur %}
                    <div class="alert alert-danger" role="alert">
                        {{ erreur }}
                    </div>
                    {% endif %}
<!--
-->
                    <p class="text-center">
                        Vous n'avez pas de compte ? <a href="{% url 'user_register_simple' %}">Inscription</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html> 
<script src='{% static "js/bootstrap.js"  %}'></script>